/* .splash-form {
    display: flex;
    flex-direction: column;
} */

.splash-nav {
    height: 100px;
    background-color: red;
}

.splash-nav-col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.splash-nav-col a{
    color: white;
}

/* .external-links-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */

.logo-img {
    height: 50%;
    width: 25%;
}

.sign-up-link {
    padding: 5px 15px;
    border: 2px solid white;
}
.splash-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-logo {
    width: 150px;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 600;
    
}

.splash-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}